$lightCardMainTextColor: hsl(0, 0%, 100%);
$lightCardSubTextColor: hsla(0, 0%, 100%, .5);
$lightCardQuoteTextColor: hsla(0, 0%, 100%, .7);
$darkCardMainTextColor: hsl(219, 29%, 14%);
$darkCardSubTextColor: hsla(219, 29%, 14%, .5);
$darkCardQuoteTextColor: hsla(219, 29%, 14%, .7);

