@import "./variables", "./_grid";
*{
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
}
.wrapper{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 4rem 2rem;
}
//-----------------------
//CARD NUMBER STYLES
//-----------------------
.card--first-card{
    background: url("/images/bg-pattern-quotation.svg") no-repeat top 15px right 30px, hsl(263, 55%, 52%);
    background-blend-mode: normal;
}
.card--second-card{
    background-color: hsl(217, 19%, 35%);
}
.card--third-card{
    background-color: hsl(0, 0%, 100%);
}
.card--fourth-card{
    background-color: hsl(219, 29%, 14%);
}
.card--fifth-card{
    background-color: hsl(0, 0%, 100%);
}

//-----------------------
//CARD LIGH OR DARK STYLES
//-----------------------
.card--light{
    img{
        border: 2px solid $lightCardSubTextColor;
    }
    .card__name{
        color: $lightCardMainTextColor;
    span{
        color: $lightCardSubTextColor;
    }
    }
    .card__main-text{
        color: $lightCardMainTextColor;
    }
    .card__quote-text{
        color: $lightCardQuoteTextColor;
    }
}
.card--dark{
    img{
        border: 2px solid $darkCardSubTextColor;
    }
    .card__name{
        color: $darkCardMainTextColor;
    span{
        color: $darkCardSubTextColor;
    }
    }
    .card__main-text{
        color: $darkCardMainTextColor;
    }
    .card__quote-text{
        color: $darkCardQuoteTextColor;
    }
}

//-----------------------
.card{
    padding: 2rem;
    border-radius: 10px;
    img{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    .card__header{
        display: flex;
        align-items: center;
        padding: 0px;
        .card__name{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            font-weight: 500;
            font-size: 1rem;
            margin: 0 1rem;
            span{
                display: block;
                font-size: .82rem;
            }
        }
}
    .card__main-text{
        font-weight: 700;
        font-size: 1.35rem;
        line-height: 2rem;
    }
    .card__quote-text{
        line-height: 1.35rem;
        font-size: .9rem;
    }
}

